<h1> Chitter </h1>
<h2> What's on your mind? </h2>
    <form action='/new_peep' method='post' >
      <input type="text" name='peep' placeholder="What's on your mind?" />
      <input type='submit' value='Peep' /> 
    </form>
    <%= @peep %>
    <%= @peeps %>
  </div>


