
<h2> What's on your mind? </h2>
    <form action='/new_peep' method='POST' >
      <input type="text" name='peep' placeholder="What's on your mind?">
      <input type='submit' name='Submit' value='Peep'> 
    </form>
  </div>
